body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;color:#232323} /* color값은 디자인가이드에 맞게사용 */

a {color:#343434;text-decoration:none}/*폰트 칼라 변경!*/
a:link,a:visited {text-decoration:none; color:#343434;}
a:hover,a:focus {text-decoration:none; color:#0096d6;}
a:active, a:hover {text-decoration:none}

/* placeholder 동일한 폰트 칼라 설정 */
::-webkit-input-placeholder {color:#555} /* WebKit browsers */
:-moz-placeholder {color:#555;opacity:1} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {color:#555;opacity:1} /* Mozilla Firefox 19+ */
:-ms-input-placeholder {color:#555} /* Internet Explorer 10+ */
.placeholder {color:#555} /* placeholder js : Internet Explorer 9- */

/* 스크린리더기 및 아웃라이너 작성 태그 */
.screen_out {overflow:hidden;position:absolute;left:-9999px;font-size:1px; width:0;height:0;line-height:0;font-size:1px}

/* 하이트진로 전체 배경색 */
.hitejinro_background,.hitejinro_background_login {display:none; position:fixed; left:0; top:0; right:0; bottom:0; background-color: rgba(0,0,0,0.5); z-index:100;}

/* 하이트진로 top, bottom 버튼 */
.hitejinro_btn {
  position:fixed; 
  right:60px; 
  bottom:50px; 
  z-index:50; 
}
.hitejinro_btn a {
  display:block; 
  width: 40px; 
  height: 40px; 
  background-color:#454545; 
  text-align:center; 
  cursor:pointer;
}
.goto_top {
  margin-bottom:1px; 
  background: url(../images/arrow_top.png) no-repeat center center;
}
.goto_bottom {
  margin-bottom:1px; 
  background: url(../images/arrow_bottom.png) no-repeat center center;
}

/* common style */
.hitejinro_content {
  margin: 0 auto;
}
.hitejinro_backdrop {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 300;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
}
.hitejinro_backdrop.show {
    display: block;
}
.text-red {
    font-size: 18px;
    font-weight: 600;
    color: red;
}
.text-center {
    text-align: center;
}

/* scroll bar */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0d2aba #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #012C81;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }